* {
    margin: 0;
    font-family: 'Work Sans';
}

.head{
    background-image: url(../banner2.png);
    background-repeat: no-repeat;
    height: 809px;
    background-size: cover;
    background-color: #ffffff;
    text-align: right;
}

.background-banner{
    padding-top: 216px;
    padding-left: 845px;
    padding-right: 230px;
}
.background-banner-title{
    font-size: 65px;
    font-weight: 700px;
    
}
.banner-description{
    color: #444343;
    margin-bottom: 24px;
}
.primary-button{
    color: #ffffff;
    height: 64px;
    background-color:  #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border: none;
}

.mfpy{
    display: flex;
    gap: 87px;
    margin: 130px 130px 0 130px;
    align-items: center;
}
.mf-title  {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    padding-right: 322px;
}
.mf-s-title{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    padding-right: 322px;
}
.mfd{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    padding-right: 322px;
}

.m-p {
    padding: 130px 230px;
}

.sec-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.skill-c {
    display: flex;
    text-align: center;
    gap: 80px;
    align-items: center;

}

.skills {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.sk-des {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

.grad{
    margin: 0 230px 130px 230px;
    background-image: url(../gradient2.png), url(../watch.png);
    background-repeat: no-repeat, repeat;
    background-position: right bottom, left top;
    border-radius: 8px;
    width: 1140px;
    height: 300px;
    background-size: cover;
}

.gt{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.button2 {
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    height: 64px;
    border-radius: 5px;
    background: #FFFFFF;
}

.gp{
    padding-top: 60px;
    padding-left: 60px;
}

.contacts {
    background-size: cover;
    display: flex;
    gap: 331px;
    background-color: #151414;
    padding: 130px 230px;
}

.cs-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.con-des, .mail, .phn {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.scrib {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
}

input {
    font-size: 18px;
    height: 60px;
    font-weight: 400;
    
}

input[type=mail] 
{
    padding: 15px 45px;
    border: 5px white;
    margin-bottom: 16px;
    background-color: rgb(0, 0, 0);
    color: #fffafa;
    
}

